{% extends 'base.html' %}
{% block title %}
    <title>All You Need to Know About Ukraine | Ukraine 101</title>
{% endblock %}

{% block additional-style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% endblock %}

{% block top %}<div class="landing-page-top-container" style="background-image: url('{% static 'media/img/Ukraine-Home-HeaderImage.jpeg' %}');">{% endblock %}

{% block content %}


<div class="home-hero">
            <div class="home-content-container">
              <h1 class="heading home-text09">
                Ukraine Is a Capital of Great People
              </h1>
              <span class="home-text10">
                <span>
                  This website was created to improve awareness of people of the world about Ukraine.
                  Ukraine has been independent for only 30 years, but its history dates back to ancient times
                  and its culture is reach and beautiful. The world should know more about Ukraine.
                </span>
                <span>.</span>
              </span>
            </div>
          </div>
        </div>
        <div id="main-section" class="home-main">
          <h1>Discover Ukraine Through the Eyes of Ukrainians</h1>
          <span class="home-text14">
            Interesting facts about the country which kicked russian ass
          </span>
          <div class="home-features">
            <div class="home-container3">
              <div class="home-container4">
                <div
                  class="
                    feature-card4-feature-card feature-card4-root-class-name1
                  "
                >
                  <img src="{% static 'media/img/icons/parthenon.png' %}" class="feature-card4-icon">

                  <h2 class="feature-card4-text"><span>7 UNESCO Heritage Sites</span></h2>
                  <span class="feature-card4-text1">
                    <span>
                      These include Kyiv’s Saint-Sophia Cathedral and Lviv’s historic centre, unique wooden churches in the Carpathians and the beech forests that surround them.
                    </span>
                  </span>
                </div>
                <div
                  class="
                    feature-card4-feature-card feature-card4-root-class-name1
                  "
                >
                  <img src="{% static 'media/img/icons/musical-note.png' %}" class="feature-card4-icon">

                  <h2 class="feature-card4-text"><span>Talented Musicians</span></h2>
                  <span class="feature-card4-text1">
                    <span>
                      Did you know that "Carol of the Bells" is in fact Ukrainian "Shchedryk" composed by Mykola Leontovych?
                      Also, Ukraine has won the Eurovision contest twice!
                    </span>
                  </span>
                </div>
                <div
                  class="
                    feature-card4-feature-card feature-card4-root-class-name1
                  "
                >
                  <img src="{% static 'media/img/icons/greece.png' %}" class="feature-card4-icon">

                  <h2 class="feature-card4-text"><span>Ancient Civilization</span></h2>
                  <span class="feature-card4-text1">
                    <span>
                      Ukrainian civilizations date back to 4800 B.C.
                      The country is located in an area where Trypillian and Scythian civilizations thrived.
                    </span>
                  </span>
                </div>
                <div
                  class="
                    feature-card4-feature-card feature-card4-root-class-name1
                  "
                >
                  <img src="{% static 'media/img/icons/easter-eggs.png' %}" class="feature-card4-icon">
                  <h2 class="feature-card4-text"><span>Easter Egg Tradition</span></h2>
                  <span class="feature-card4-text1">
                    <span>
                      The popular Easter egg tradition originated in Ukraine. Originally, the eggs were patterned using wax and dye.
                      The wax was eventually removed leaving an impressive pattern with dashing colors.
                    </span>
                  </span>
                </div>
              </div>
              <img
                alt="image"
                src="{% static 'media/img/home-image-1.jpeg' %}"
                class="home-image1"
              />
            </div>
          </div>
          <div class="home-stats">
            <div class="home-stat">
              <h1 class="home-text15"><span>603,548</span></h1>
              <span class="home-text17">square km</span>
              <span class="home-text18">
                The total geographic area of Ukraine which makes it the largest country in Europe.
              </span>
            </div>
            <div class="home-stat1">
              <h1 class="home-text19"><span>44.13</span></h1>
              <span class="home-text21">million</span>
              <span class="home-text22">
                Total population of Ukraine as of 2020 over 30% of whom have higher education.
              </span>
            </div>
            <div class="home-stat2">
              <h1 class="home-text23"><span>482 CE</span></h1>
              <span class="home-text25">the year Kyiv was founded</span>
              <span class="home-text26">
                But the city may date back at least 2,000 years according to recent archeological findings!
              </span>
            </div>
            <div class="home-stat3">
              <h1 class="home-text27"><span>1384</span></h1>
              <span class="home-text29">monuments</span>
              <span class="home-text30">
                to Taraz Shevchenko. This is the biggest number of monuments dedicated to one person.
              </span>
            </div>
          </div>
          <div class="home-content-container1" style="background-image: url({% static 'media/img/rsz_hands.png' %});">
            <h1 class="home-text31">Would you like to help Ukrainians?</h1>
            <span class="home-text32">
              Find out how you can help our refugees, volunteers, and army.
            </span>
            <div
              class="
                solid-button-large-container solid-button-large-root-class-name
              "
            >
              <button class="solid-button-large-button button" onclick="location.href='{% url 'support' %}';">
                <span>Support Ukraine</span>
              </button>
            </div>
          </div>
          <h1 class="home-text33">Popular Books</h1>
          <span class="home-text34">
            Find out what books about Ukraine you should read
          </span>
          <div class="home-container5">
            {% for book in popular_books %}
            <div
              class="
                recommended-book-card-container
                recommended-book-card-root-class-name1
              "
            onclick="location.href='{% url 'book-details' book.slug %}';">
              <img
                alt="image"
                src="{{ book.image.url }}"
                class="recommended-book-card-image"
              />
              <div class="recommended-book-card-container1">
                <span class="recommended-book-card-text">
                  <span>{{ book.title }}</span>
                </span>
                <span class="recommended-book-card-text1">
                  <span>{{ book.author }}</span>
                </span>
              </div>
            </div>
            {% endfor %}


          </div>
          <div class="user-profile-page-container6">
            <a href="{% url 'books-list' %}">
              <button class="user-profile-page-button button">
                See all books
              </button>
              </a>
              </div>
          {% if latest_article %}
          <h1 class="home-text35">Latest Article</h1>
          <span class="home-text36">
          </span>
          <div class="home-blog">
            <div class="home-container6">
              <div
                class="
                  blog-post-card2-blog-post-card blog-post-card2-root-class-name
                "
              onclick="location.href='{{ latest_article.get_absolute_url }}';">
                <img
                  alt="image"
                  src="{{ latest_article.image.url }}"
                  class="blog-post-card2-image"
                />
                <div class="blog-post-card2-container">
                  <div class="blog-post-card2-container1">
                    <span class="blog-post-card2-text">
                      <span>{{ latest_article.category|upper }}</span>
                    </span>
                  </div>
                  <h1 class="blog-post-card2-text1">
                    <span>{{ latest_article.title|title }}</span>
                  </h1>
                  <span class="blog-post-card2-text2">
                    <span>
                      {{ latest_article.summary }}
                    </span>
                  </span>
                  <div class="blog-post-card2-container2">
                    <div class="blog-post-card2-profile">
                      <span class="blog-post-card2-text3">
                        <span>{{ latest_article.date_created }}</span>
                      </span>
                    </div>
                    <a href="{{ latest_article.get_absolute_url }}">
                    <span class="blog-post-card2-text4">Read More -&gt;</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="user-profile-page-container6">
                <a href="{% url 'articles:articles-list' %}">
              <button class="user-profile-page-button button">
                See all articles
              </button>
                  </a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

{% endblock %}
